<!-- Site header -->
<h1 class="page-header">SocialSearch UI <small class="muted">for Facebook</small></h1>

<!-- Navbar with search input -->
<div class="navbar">
  <div class="navbar-inner">
    <form class="navbar-form form-search pull-left">
      <div class="input-append">
        <input class="search-query" type="search" placeholder="Search..." 
          ng-model="search"
          ng-disabled="loading || indexing || searching || objects.length == 0">
        <button class="btn"
          ng-click="searchObjects(search)"
          ng-disabled="loading || indexing || searching || objects.length == 0">Search</button>
        <button class="btn-link muted"
          ng-show="search!=''"
          ng-click="search=''; searchObjects(search)">clear search</button>  
      </div>
    </form>
    <form class="navbar-form pull-right">
      <input class="" type="text" placeholder="Facebook API token"
        ng-model="facebookApiToken"
        ng-disabled="loading || indexing || searching">
      <button type="submit" class="btn btn-primary"
        ng-click="load()"
        ng-disabled="loading || indexing || searching">Load data</button>
      <button type="submit" class="btn"
        ng-click="reset()"
        ng-disabled="loading || indexing || searching">Reset</button>
    </form>
    <ul class="nav pull-right"><li class="divider-vertical"></li></ul>
  </div>
</div>

<!-- Notifications -->
<div class="alert alert-info"
  ng-show="loading || indexing">
  <b>This may take a while.</b> Sit back and relax while your data is being retrieved from Facebook and made searchable.
</div>

<div class="alert alert-info"
  ng-show="!loading && objects.length == 0">Please enter a <a href="https://developers.facebook.com/tools/explorer/" target="_blank">Facebook API access token</a> above and load your Facebook data.
</div>

<div class="alert alert-error"
  ng-show="errors.length > 0">
  <strong>Some errors ocurred while loading your data.</strong><br>
  <small ng-repeat="error in errors">{{error}}<br></small>
</div>

<div class="alert alert-warning"
  ng-show="warnings.length > 0">
  <strong>Your loaded data may be incomplete.</strong> This is probably caused by Facebook. You may try resetting and reloading later again.<br>
  <small ng-repeat="warning in warnings">{{warning}}<br></small>
</div>

<!-- Progress bars -->
<!-- ...when loading -->
<div
  ng-show="loading">
  <p>Loading Facebook data...</p>

  <div class="progress progress-striped active">
    <div class="bar" style="width: {{progress*100}}%;"></div>
  </div>
</div>
<!-- ...when indexing -->
<div
  ng-show="indexing">
  <p>Indexing data for search...</p>

  <div class="progress progress-striped active">
    <div class="bar" style="width: {{indexingProgress*100}}%;"></div>
  </div>
</div>

<!-- Information about resuts -->
<p>
  <span ng-show="searching">Searching...</span>
  <span ng-show="!searching">{{searchedObjects.length}} results</span>
  <small class="muted">
    of {{objects.length}} found objects
    &middot;
    last updated {{getLastUpdated()}}
    <span 
      ng-show="getLoadingTime()">
      &middot; 
      crawl time {{getLoadingTime()}} seconds
    </span>
    <span 
      ng-show="getIndexingTime()">
      &middot; 
      indexing time {{getIndexingTime()}} seconds
    </span>
  </small>
</p>

<hr>

<div class="row"
  ng-show="objects.length > 0">

  <!-- Sidebar -->
  <div class="span3">
    <!-- Facets -->
    <form class="well">
      <p class="muted">
        Object types
        <a href="" class="pull-right"
          ng-click="toggleFacets()">Toggle all</a>
      </p>
      <label class="checkbox"
        ng-repeat="(facetName, facetValue) in facets">
        <input type="checkbox"  
          ng-model="facets[facetName]"> {{facetName}}
      </label>
    </form>
  </div>

  <!-- Main content -->
  <div class="span9">
    <!-- List of result objects -->
    <div class="object"
      ng-repeat="object in searchedObjects | facetFilter:'_type':facets | limitTo:500">
      <div class="clearfix">
        <!-- Object info -->
        <div class="pull-left">
          <b>{{object._type}}</b> 
          <a class="muted" href="https://www.facebook.com/{{object.id}}" target="facebook">{{object.id}}</a></td>
          <p
            ng-show="object.picture">
            <img alt="Picture of {{object._type}} object {{object.id}}"
              ng-src="{{object.picture}}">
          </p>
          <p
            ng-show="!object.picture && object._preview">
            {{object._preview | truncate:250}}
          </p>
          <p 
            ng-show="!object.picture && !object._preview">
            <i class="muted">No preview available</i>
          </p>
        </div>
        <!-- Object actions -->
        <button class="btn pull-right"
          ng-click="showDetails=!showDetails">Show data</button>
      </div>
      <!-- Object details -->
      <div class="well"
        ng-show="showDetails">
        {{object}}
      </div>
      <hr>
    </div>

    <small class="muted"
      ng-show="searchedObjects.length > 500"><i>First 500 results shown</i></small>
    <br><br>
  </div>

</div>